* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
}

.navbar {
    background-color: #1F2937;
    height: max-content;
    width: 100%;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo {
    display: flex;
    /* gap: 10px; */
    align-items: center;
    margin: auto 0;
}

.navbar a {
    font-size: 2rem;
    color: #F9FAF8;
    font-weight: bolder;
    text-decoration: none;
}

.navbar ul {
    display: flex;
}

.navbar li {
    font-size: 1.25rem;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
    margin: 0 .625rem;
    font-weight: 700;
}

.navbar li:hover {
    color: #fff;
}

.navbar .container .logo img {
    height: 4rem;
}


.section-1 {
    background-color: #1F2937;
    min-height: 40.625rem;
    display: flex;
}

.section-1 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

}

.section-1-left { 
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.section-1 img {
    width: 50%;
    /* height: 100vh; */
}

.section-1-left h1 {
    font-size: 4rem;
    font-weight: 900;
    color: #F9FAF8;
}

.section-1-left p {
    font-size: 1.25rem;
    color: #F9FAF8;
}

.section-1-left button {
    background-color: #3882F6;
    font-size: 1.125rem;
    color: #F9FAF8;
    padding: 0.625rem 1rem;
    font-weight: bold;
    border-radius: 0.625rem;
    border: none;
    width: max-content;
}

.section-1-left button:hover {
    color:#3882F6;
    background-color: #F9FAF8;
    border: 0 solid #3882F6;
}


.section-2 {
    height: max-content;
    padding: 6.25rem 0;
    background-color: #fff;
    display: flex;
}

.section-2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 6.25rem;
}

.section-2 .set-of-cards {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.section-2 .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 2;

    gap: 20px;
}

.section-2 img {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 1.5rem;

}

.section-2 h2 {
    font-size: 3rem;
    color: #1F2937;
    font-weight: bolder;
}

.section-2 p {
    text-align: center;
    font-size: 1.25rem;
}

.section-3 {
    background-color: #1F2937;
    height: max-content;
    background-color: #e5e7eb;
    display: flex;
    padding: 6.25rem;
}

.section-3 .container {
    flex-direction: column;
    justify-content: center;

}

.section-3 .quote {
    font-size: 2.25rem;
    color: #1F2937;
    font-weight: lighter;
}


.section-3 .quoter {
    color: #1F2937;
    font-weight: bolder;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
}

.section-4 .container {
    padding: 50px 25px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-4-div {
    display: flex;
    width: 100%;
    height: max-content;
    padding: 2.5rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    border-radius: 1.5rem;
    gap: 1.25rem;
}

.sec-4-div-text h3 {
    font-size: 2rem;
    color: #fff;
}

.sec-4-div-text p {
    font-size: 1.5rem;
    color: #fff ;
    opacity: 90%;
}

.sec-4-div button {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.125rem;
    background-color: #3882F6;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
}

.sec-4-div button:hover {
    background-color: #fff;
    color: #3882F6;
}


.footer {
    height: max-content;
    padding: 1.2rem;
    background-color: #1F2937;
    display: flex;
}

.footer .container {
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #E5E7EB;
    font-size: 1.125rem;
}

.container {
    max-width: 1200px;
    padding: 0 3rem;
    margin: auto;
}

@media (max-width: 768px) {
    
    .section-1 .container {
        display: block;
    }

    .section-1-left { 
        text-align: center;
        display: block;
        margin: auto;
        width: 100%;
    }
    
    .section-1 img {
        width: 100%;
        padding: 2rem;
    }
    
    .section-1-left h1 {
        font-size: 3rem;
        margin: 1.5rem ;
    }
    
    .section-1-left p {
        font-size: 1.125rem;
        margin: 0 1.5rem;
    }
    
    .section-1-left button {
        margin-top: 2rem;
    }

    .section-2 {
        display: block;
        height: max-content;
        padding: 3.125rem 0;
    }
    
    .section-2 .container {
        display: block;
        height: max-content;
    }
    
    .section-2 .set-of-cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .section-2 .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    .section-2 img {
        height: 200px;
        width: 200px;
        border: 5px solid #3882F6;
        border-radius: 1.5rem;
    
    }
    
    .section-2 h2 {
        text-align: center;
        font-size: 2rem;
        color: #1F2937;
        font-weight: bolder;
        margin-bottom: 2rem;
    }
    
    .section-2 p {
        max-width: 60ch;
    }
    
    .section-3 {
        background-color: #1F2937;
        height: max-content;
        background-color: #e5e7eb;
        display: flex;
        padding: 2rem;
    }

    .section-3 .quote {
        font-size: 1.75rem;
    }

    .sec-4-div-text h3 {
        font-size: 1.75rem;
    }
    
    .sec-4-div-text p {
        font-size: 1.2rem;
    }
}